<!DOCTYPE html>
<html lang="en" >
  <%- include('header.html'); -%>

  <body>
    <script>
      if ( window.history.replaceState ) {
        window.history.replaceState( null, null, window.location.href );
      }
      </script>
    
    <div class="cont">
      <div class="mob-header">
        <img src="images/mob-logo.png" height="17" width="136"/>
      </div>
      <div class="form sign-in" id="signin-div">
        
        <p class="desc">ホテルの名前とフライトの番号を入力してください。</p>
        
        <form action="/posttrip" method="post">
          <!-- user input-->
          ホテルの名前<br>
          <input type="text" name="flightNumber" placeholder="任意の名前" required><br><br>

          フライトの番号<br>
          <input type="text" name="hotelName" placeholder="任意の番号" required><br><br>
          <!-- submit button -->
          <div class="center"><button type="submit" class="submit" id="submit-btn"  data-res="signin-submit-btn">予約する</button></div>
        </form>
        <br/>
        <div class="menu"><span><a href="/gettrips">予約一覧</a></span><span><a href="/signout">ログアウト</a></span></div>
      </div>

    </div>



  </body>

</html>
